html, body {
  font-family:'Courier New', Courier, monospace;
  background-color: #333;
  color: rgb(12, 12, 12);
}

header, footer {
  width: 100%;
  background-color: #cfcfcf;
  color:rgb(12, 12, 12);
  text-align: center;
  padding: .2rem;
  font-size: 1rem;
  font-weight: bold;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: .2rem;
  padding: 2rem;
  justify-items: center;
}

.CardList {
  justify-items: center;
  background-color: #333;
  border-radius: 10px;
  border: 3px solid whitesmoke;
  max-width: 300px;
}